body {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    background-color: #162831;
    font-size: 14px;
    font-weight: 300;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    .container {
        margin: 0 112px;
    }

    /* HEADER */
    header {
        margin: 30px 0px 50px 0px ;
    }

    .header-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav a {
        color: #fff;
        margin-right: 50px;
        text-decoration: none;

        transition: color .3s ease;
    }

    nav a:hover {
        color: #018ABE;
    }

    nav a:last-of-type {
        margin-right: 0;
    }

    .button-header {
        background-color:#018ABE;
        padding: 9px 15px;
        border-radius: 3px;
        text-decoration: none;
        color: #fff;
        transition: all .2s ease;
    }

    .button-header:hover {
        background-color: #fff;
        color: #018ABE;
    }

    /*MAIN*/

    .main-inner {
        background-image: url(../web-learning/images/unsplash_S-llxYh3GzI.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 600px;
        border-radius: 10px;
        margin-bottom: 150px;

        text-align: center;
    }

    .main-inner-first {
        padding-top: 135px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }

    .main-inner-first p {
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        margin-right: 66px;
        margin-left: 66px;
    }

    .main-inner-first img {
        width: 28px;
        height: 14px;
    }

    .main-inner h1 {
        font-size: 64px;
        font-weight: bold;
        color: #fff;
    }

    /* SEANS */

    .seans {
        padding-bottom: 150px;
    }

    .seans-title {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 100px;
    }

    .seans-title p {
        font-size: 42px;
        font-weight: 800;
        color: #fff;

        margin-right: 45px;
        margin-left: 45px;
    }

    .seans-inner {
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    .seans-item {
        background-image: url(../web-learning/images/title.png);
        width: 400px;
        height: 258px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
        margin: 5px;
        position: relative;
    }

    .seans-item p {
        color: #fff;
        font-size: 24px;
        font-weight: 800px;
        position: absolute;
        left: 30px;
        bottom: 40px;
      
    }

    .seans-item .left p {
        left: 50px;
        bottom: 50px;
    }

    .left {
        height: 527px;
        border-bottom: #018ABE 7px solid;
    }

    .seans-right {
        display: flex;
    }

    .seans-right div {
        display: flex;
        flex-direction: column;
    }


    /*Comments*/

    .comments {
        padding-bottom: 150px;
    }

    .comments-inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .comments-item {
        background-color: #018ABE;
        color: #fff;
        padding: 60px;
        border-radius: 10px;
    }

    .comments-item h3 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .comments-item p {
        font-size: 14px;
        font-weight: 100;
        line-height: 140%;
    }

    .comments-item:nth-child(1),
    .comments-item:nth-child(3) {
        transform: scale(0.8);
        opacity: 0.4;
    }

    .comments-inner-bar {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    .comments-inner-bar img {
        margin-right: 20px;
    }

    .comments-inner-bar img:nth-of-type(2),
    .comments-inner-bar img:nth-of-type(3),
    .comments-inner-bar img:nth-of-type(4) {
       opacity: 0.4;
    }